* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

:root {
	--main-color: hsl(210, 90%, 50%);
	--weak-text-color: hsl(210, 90%, 90%);
}